HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.tar
*.class 
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.db-journal
*.h2.db
*.h2.trace.db
*.derby.db
*.mv.db
*.mv.trace.db
*.log
*.out
*.pid
*.seed
*.trace
*.gz
*.zip
*.tar.gz
*.rar
*.tar
*.7z
*.exe
*.dll
*.lib
*.so
*.dylib
*.pdb
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
